import SPACE from

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.board {
  display: flex;
  flex-direction: column;

}

.board-row {
  display: flex;
  justify-content: center;
}

.space {
  background: linear-gradient(to bottom, #ded39f 1%, #f7cc0e 80%, #7d6600 99%);
  display: flex;
  align-items: center;
  justify-content: center;
}


.corner {
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  /* pointer-events: none; */
}

.gravityButton {
  display: flex;
}

.up {
  justify-content: top;
}

.left {
  justify-content: left;
}

.slot {
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.slot:hover {
  background-color: darkgoldenrod;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  margin-bottom: 6rem;
}

.floating-piece {
  width: 40px;
  height: 40px;
}

.pile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
}

.fieldOfPlay {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom,
                              #002A7D 22%,
                              #8439A5 30%,
                              #FF585B 59%,
                              #9BC04A 75%,
                              #3F7333 100%);
}

.landing-section {
  height: 110vh;
  display: flex;
  justify-content: center;
}

.moon {
  position: relative; /* Allows layering of elements */
  width: 53rem;
  height: 53rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.moon-background {
  width: 100%;
  height: 100%;
  background: linear-gradient(125deg, #FCFFCF, #E1E6A3, #A3AB3E);
  border-radius: 50%;
  box-shadow: inset -101px 0px 11.7px -35px rgba(0, 0, 0, 0.25); /* Inner shadow */
  filter: blur(2.5px); /* Apply blur to the background only */
  position: absolute; /* Make sure it is positioned behind the text */
  top: 0;
  left: 0;
}

.moon-content {
  position: relative;
  z-index: 1;
  font-family: 'IrishGrover', sans-serif;
  color: white;

}

.start {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  cursor: pointer;
  -webkit-text-stroke: .01rem black;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  margin-top: 0.5rem;
}

.main-title {
  text-align: center;
  color: white;
  font-family: 'IrishGrover', sans-serif;
  font-size: 9rem;
  -webkit-text-stroke: .13rem black;
  text-shadow: 10px 15px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 5rem;
}

.sunset {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10rem;
  height: 75vh;
}

.boardMiddle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-gravity-button {
  margin-right: 1rem;
}

.right-gravity-button {
  margin-left: 1rem;
}

.top-gravity-button {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.bottom-gravity-button {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

@font-face {
  font-family: 'IrishGrover';
  src: url('./assets/fonts/IrishGrover-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  overflow: hidden;
}
