.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.board {
  display: flex;
  flex-direction: column; /* Stack rows vertically */
  gap: 10px; /* Optional: Adds space between rows */
}

.board-row {
  display: flex; /* Ensures each row is laid out horizontally */
  gap: 5px; /* Optional: Adds space between spaces */
  justify-content: center;
}

.space {
  width: 50px; /* Define size for each space */
  height: 50px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;

}

.corner {
  width: 50px; /* Define size for each space */
  height: 50px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

}

.slot {
  width: 48px;
  height: 48px;
  background-color: lightyellow;
  border: 2px solid gold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.slot:hover {
  background-color: darkgoldenrod;
}

.floating-piece {
  width: 40px;
  height: 40px;
}

.pile {
  justify-content: center;
}
